*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.profile-edit img {
	display: inline;
	width: 30px;
	height: 30px;
}
.profile-edit {
	padding-top: 23px;
}
.profile-edit span {
	color: #fff;
}
.profile-edit .fa-edit, .fa-power-off {
	color: #222;
}
button {
    outline: 0px !important;
}
button:focus {
    outline: 0px !important;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #fb1644;
}
.navbar-default .navbar-nav > .active > a {
	color: #333;
	background-color: transparent;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #fc1444;
}
.navbar-nav > li > a {
    color: #f9f9f9 !important;
    text-transform: capitalize;
    font-size: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 15%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 9px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
} 
a.navbar-brand { 
	color: #fff !important;
 }
.profile-edit button {
	background: transparent !important;
	border: 0px;
}
.profile-edit ul.dropdown-menu {
	padding: 0px;
}
.profile-edit ul.dropdown-menu li a {
	padding: 5px 10px;
	text-transform: capitalize;
}
.profile-edit ul.dropdown-menu li a span {
	margin-right: 5px;
}
.profile-edit img {
	width: 35px;
	height: 35px;
}
.pix-hoilder {
	background: #80c4de /*#6ed2f8;*/;
}
.content-left {
	float: left;
	width: 100%;
}
.pix-wrapper {
	width: 100%;
	max-width: 200px;
	margin: 0px auto;
	position: relative;
	top: 58px;
}
.pix-wrapper img {
	-webkit-box-shadow: 0px 3px 3px 0px #CCCCCC; 
	box-shadow: 0px 3px 3px 0px #CCCCCC;
}
.info {
	float: left;
	width: 100%;
	margin-top: 60px;
	text-align: center;
	margin-bottom: 30px;
}
.info p:nth-child(1) {
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: -1px;
	margin-top: 10px;
}
.info p:nth-child(2) {
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 700;
}
header {
	background: #0a80ad /*#10bdfe*/;
	/*padding: 5px 5px;*/
}
p.basic {
	text-transform: capitalize;
	font-size: 15px;
}
.basic-content p span .fa {
	margin-right: 5px;
}
.basic-content p {
	display: block;
	float: left;
	width: 100%;
}
.basic-info-details {
	background: #f4f4f4;/*#e6e6e6;*/
	width: 50%;
	float: left;
	margin-bottom: 30px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
span.edge {
	background: #eee;
	padding: 7px 15px;
	float: left;
}
span.edge-info {
	padding: 7px 10px;
	float: left;
	text-transform: lowercase;
	font-size: 14px;
}
.basic-content {
	margin-bottom: 30px;
}
.social .fa {
	color: #02b1f2;
}
.contact button {
	background: #fc1444; /*#fe3208;*/
	color: #fff;
	border: 0px;
	text-transform: capitalize;
	padding: 5px 7px;
	margin-top: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.contact button:hover {
	background: #2fc0f5;
}
.content-left-details-content {
	float: left;
	width: 100%;
	background: #eee;
	padding: 20px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.content-right ul.nav-tabs li a {
	text-transform: capitalize;
}
.academic-info-content {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.academic-details {
	border-left: 3px solid #00aeef;
	background: #f8f8f8;
	padding: 10px 15px;
	-webkit-box-shadow: 0px 3px 5px 0px #CCCCCC; 
box-shadow: 0px 3px 5px 0px #CCCCCC;
}
.academic-details ul li:nth-child(1) {
	float: left;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
}
.academic-details ul li:nth-child(2) {
	float: right;
	text-transform: capitalize;
	font-size: 15px;
}
.academic-details p {
	clear: both;
}
.profile-content {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.profile-content p {
	text-align: justify;
}
.business-content {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.business-info {
	float: left;
	width: 100%;
	border: 1px solid #ddd;
	background: #f3f3f3;
	padding: 10px;
	margin-bottom: 20px;
}
.business1 {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.create-student-cat {
	margin-bottom: 15px;
}
.heading-tab ul li a {
	text-transform: capitalize;
}
.create-student-cat h3 {
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.create-student-cat .form-group label {
	font-weight: 100;
	text-transform: capitalize;
	font-size: 15px;
}
.create-student-cat button {
	background: #fc0202;
	color: #fff;
	border: 0px;
	font-size: 16px;
}
.create-student-cat button:hover {
	background: #2fc0f5;
	color: #fff;
}
.create-prog-class h4 {
	background: #f3f3f3;
	padding: 10px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 15px;
	margin-bottom: 20px;
}
.create-prog-class p {
	font-size: 14px;
	text-transform: capitalize;
}
.create-section-details {
	margin-bottom: 30px;
	padding-left: 0px;
}
.create-section {
	margin-top: 30px;
}
.create-section-details button {
	background: #fc1444;
	border: 0px;
	color: #fff;
	text-transform: capitalize;
	padding: 5px 10px;
	border-radius: 4px;
	margin-top: 91px;
}
.create-section-details button:hover {
	background: #10bdfe;
}
.create-section-details .form-group {
	margin-top: -7px;
}
.show-prog-table {
	margin-top: 20px;
}
.show-prog-table table tr th {
	text-transform: capitalize;
}
.show-prog-table table tr td {
	text-transform: capitalize;
}
.show-prog-table h5 {
	font-size: 15px;
	text-transform: capitalize;
}
.line-divider {
	width: 100%;
	float: left;
	background: #ddd;
	height: 1px;
	margin-bottom: 20px;
}
.header-left .container-fluid, .collapse, .navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}
.accordion {
	float: left;
	width: 100%;
}
.panel-success > .panel-heading {
	background-color: #e6e6e6;
	color: #333;
}
i-accordion .panel-heading,
.d-accordion .panel-heading,
.accordion-2a .panel-heading,
.accordion-2b .panel-heading,
.accordion-3 .panel-heading { cursor: pointer; }
.d-accordion .panel-heading.collapsed .fa-chevron-up:before { content: '\f078'; }

.panel-group .panel {
	cursor: pointer;
}
.accordion {
	display: none;
}
h4.panel-title {
	text-transform: capitalize;
}
.heading-tab {
	margin-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #80c4de;
}
.banner {
	background: linear-gradient(rgba(0,0,0, 0.60), rgba(0,0,0, 0.60)),url(../images/slide1.jpg) no-repeat;
	height: 350px;
	background-size: cover;
}
.banner-content {
    position: absolute;
    right: 15%;
    /*bottom: 20px;*/
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.first-slide {
	background: linear-gradient(rgba(0,0,0, 0.60), rgba(0,0,0, 0.60)),url(../images/slide1.jpg) no-repeat;
	height: 350px;
	background-size: cover;
}
.second-slide {
	background: linear-gradient(rgba(0,0,0, 0.60), rgba(0,0,0, 0.60)),url(../images/slide2.jpg) no-repeat;
	height: 350px;
	background-size: cover;
}
.third-slide {
	background: linear-gradient(rgba(0,0,0, 0.60), rgba(0,0,0, 0.60)), url(../images/slide3.jpg) no-repeat;
	height: 350px;
	background-size: cover;
}
.carousel-caption {
	bottom: 105px;
}
.banner-form input[type="text"] {
	/*width: 560px;*/
	width: 100%;
	outline: 0px;
	border-radius: 6px;
	border: none;
	background: #f5f5f5;
	padding: 10px;
	height: 45px;
}
.banner-form input[type="submit"] {
	border: none;
	border-radius: 6px;
	background: #fc1444;
    color: #fff;
    outline: 0px;
    width: 100%;
    height: 45px;
    font-size: 18px;
} 
.carousel-caption h1 {
	margin-bottom: 24px;
}
.feature-service p {
	text-align: center;
}
.feature-item {
	-webkit-box-shadow: 0px 2px 5px 1px #CCCCCC; 
	box-shadow: 0px 2px 5px 1px #CCCCCC;
	padding-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}
.feature-item  p {
	padding: 5px 0px;
}
.feature-service {
	margin-top: 30px;
	margin-bottom: 30px;
}
.feature-service h3 {
	font-size: 20px;
	padding-left: 15px;
	font-weight: 700;
	padding-bottom: 30px;
    color: red;
}
.feature-service h3::after {
	content: "";
	display: block;
	border-bottom: 5px solid #fc1444;
	width: 35px;
	margin-top: 5px;
}
footer {
	background: #1b4c5f;
	color: #fff;
	float: left;
	width: 100%;
    margin-top: 63px;
}
footer p {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
}
.login-body {
	/*background: linear-gradient(rgba(0,0,0, 0.70), rgba(0,0,0, 0.70)),url(../images/login-bg3.jpg);*/
	height: 577px;
	background: #f2f2f2/*#dedbdb*/;
}
.login-form-wrapper {
	float: left;
	width: 100%;
}
.form-content {
	width: 100%;
	max-width: 800px;
	margin: 6% auto;
	/*background: rgba(225, 225, 225, 0.9);*/
	/*border-radius: 5px;*/
	overflow: hidden;
	/*background: url(../images/login-bg3.jpg);*/
	/*-webkit-box-shadow: 0px 3px 15px 1px #ccc; 
	box-shadow: 0px 3px 15px 1px #ccc;*/
	-webkit-box-shadow: 0px 6px 15px 1px #CCCCCC; 
box-shadow: 0px 6px 15px 1px #CCCCCC;
}
.form-content1 {
	width: 40%;
	float: left;
	background: #fff;
	padding: 30px;
	height: 400px;
}
.form-content2 {
	float: left;
	width: 60%;
	background: linear-gradient(rgba(0,0,0, 0.70), rgba(0,0,0, 0.70)), url(../images/login-bg2.jpg);
	height: 400px;
	padding: 30px;
	text-align: center;
}
.form-content2-details {
	color: #fff;
	margin: 80px auto;
}
.form-content1-details {
	margin: 30px auto;
	font-family: 'Rubik', sans-serif;
}
.form-content1-details h4 {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 16px;
}
.checking p, .checking span {
	font-size: 13px;
}
span.remember {
	float: left;
	margin-top: 2px;
	margin-left: 5px;
}
.check-left input[type="checkbox"] {
	float: left;
}
form.login-form input[type="email"], form.login-form input[type="password"] {
	/*border-radius: 5px;*/
	border: 0px;
	/*background: #eceaea;*/
	outline: 0px;
	padding-left: 10px;
	border: 1px solid #c1c0c0;
	margin-bottom: 30px;
}
form.login-form input[type="submit"] {
	padding: 8px 15px;
	/*border-radius: 5px;*/
	border: 0px;
	text-transform: capitalize;
	background: #2a81a2;
	color: #fff;
	width: 100%;
	outline: 0px;
	font-size: 17px;
}
p.company-name {
	font-size: 22px/*26px*/;
	font-weight: bold;
	margin-bottom: 2px;
	font-family: 'Rubik', sans-serif;
}
p.slogan .fa-circle {
	font-size: 8px;
}
p.slogan {
	font-size: 11px;
	letter-spacing: 2px;
	font-family: 'Rubik', sans-serif;
}
form.login-form p span {
	margin-right: 5px;
} 
form.login-form p a {
	color: #000;
	text-decoration: underline;
	text-transform: capitalize;
}
form.login-form label {
	font-size: 15px;
}
.create-section-details p {
	margin-bottom: 10px;
}
.form-text {
	padding: 0px;
}
.form-text .form-control {
	padding-left: 10px;
	margin-left: -16px;
}
.form-access {
	margin-left: -10px;
}
.checking {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.check-left, .check-right {
	padding: 0px;
}
.blog-content-left h3 {
	padding: 10px;
	font-size: 20px;
}
.blog-img-wrapper {
	padding-bottom: 30px;
}
.blog-content-left p {
	line-height: 26px;
	margin-bottom: 10px;
	text-align: justify;
}
.content-right {
	margin-top: 30px;
}
.content-right h3 {
	padding: 10px 10px 5px 0px;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.content-right ul li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	list-style: none;
}
.content-right ul li a {
	color: #000;
	text-decoration: none;
}
.content-right ul li a:hover {
	color: #797878;
}
.blog-content {
	margin-bottom: 30px;
}
.nav-tabs {
    border-bottom: 0px !important;
}
.search-item {
    -webkit-box-shadow: 0px 2px 5px 1px #CCCCCC;
    box-shadow: 0px 2px 5px 1px #CCCCCC;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}