@media screen and (max-width: 1200px) {
	.dropdown-menu {
		left: 32%;
	}
}
@media screen and (max-width: 1000px) {
	.form-text {
		padding-left: 40px;
	}
}
@media screen and (max-width: 990px) {
	.profile-edit {
	    /*padding-right: 40px;*/
	    padding-bottom: 5px;
	}
	.header-left {
		border-bottom: 1px solid #e1e0e0;
	}
	.basic-info-details {
		width: 54% !important;
	}
	.dropdown-menu {
		left: 78%;
		margin-top: 0px;
	}
    ul.dropdown-menu {
        margin: 0px !important;
    }
}
@media screen and (max-width: 880px) {
    .search-banner {
        top: 5%;
    }
}
@media screen and (max-width: 830px) {
    .form-content {
        width: 95%;
    }
}
@media screen and (max-width: 776px) {
    .check-left {
        width: 100%;
    }

    .check-right {
        float: left;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a {
	    background-color: transparent !important;
	}
	.header-left {
	    border: 0px;
	}
	nav .navbar-nav {
		float: left !important;
	}
	.content-left {
    	margin-bottom: 30px;
	}
	/*.navbar-nav > li > a:hover {
		background-color: #0a6284;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}*/
	nav .navbar-nav {
	    float: left !important;
	    width: 100%;
	}
	.navbar-nav > li > a {
		padding-left: 30px;
	}
	.create-section-details button {
		margin-top: 0px;
	}
	.form-access {
		margin-top: 15px;
		padding-left: 34px;
	}
    .search-banner {
        top: -10%;
    }
    .search-item-pic {
        margin-bottom: 30px;
    }
    .keep-centralize {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 750px) {
    .banner-content {
        top: 8%;
    }
    .search-banner {
        top: -10%;
    }
}
@media screen and (max-width: 720px) {
	.dropdown-menu {
	    left: 75%;
	    margin-top: 0px;
	}
}
@media screen and (max-width: 710px) {
    .keep-centralize {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 660px) {
	.dropdown-menu {
	    left: 72%;
	    margin-top: 0px;
	}
}
@media screen and (max-width: 610px) {
    .class-mate-profile-link {
        float: left;
        width: 100%;
    }
    .profile-link-wrap {
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
	.dropdown-menu {
	    left: 69%;
	    margin-top: 0px;
	}
	.form-content2 {
		display: none;
	}
	.form-content1{
		width: 100%;
		/*background: linear-gradient(rgba(0,0,0, 0.70), rgba(0,0,0, 0.70)), url(../images/mobile-login-bg.jpg) no-repeat;
		background-size: cover;*/
		height: 500px;
		background: transparent;
	}
	.form-content1, .form-content {
		box-shadow: none !important;
	}
	/*.form-content {
		background: transparent;
	}*/
	.login-body {
		background: linear-gradient(rgba(0,0,0, 0.70), rgba(0,0,0, 0.70)), url(../images/mobile-login-bg.jpg) no-repeat;
		background-size: cover;
	}
	.form-content1-details {
		width: 100%;
		max-width: 400px;
		background: rgba(255, 255, 255, 0.9);
		padding: 30px;
	}
}
@media screen and (max-width: 520px) {
	.dropdown-menu {
	    left: 66%;
	    margin-top: 0px;
	}
    .keep-centralize {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px) {
	.desktop-tab {
		display: none;
	}
	.accordion {
		display: block;
	}
	.basic-info-details {
	    width: 100% !important;
	}
}
@media screen and (max-width: 480px) {
	.dropdown-menu {
	    left: 62%;
	    margin-top: 0px;
	}
	/*.form-content {
	    max-width: 400px;
	}*/
}
/*@media screen and (max-width: 440px) {
	.form-content {
	    max-width: 370px;
	}
}*/
@media screen and (max-width: 460px) {
    .search-banner h1 {
        font-size: 31px;
    }
}
@media screen and (max-width: 430px) {
	.dropdown-menu {
	    left: 58%;
	    margin-top: 0px;
	}
    .banner-content {
        top: 2%;
    }
    .search-banner {
        top: -8%;
    }
}
@media screen and (max-width: 420px) {
	.feature-service-category {
		width: 100%;
	}
    .keep-centralize {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 410px) {
    .search-result-rows-right {
        width: 100%;
    }
    .search-result-btn-wrap {
        text-align: left;
    }
    .search-item-brief {
        padding-left: 0px;
    }
}
@media screen and (max-width: 400px) {
	.dropdown-menu {
	    left: 54%;
	    margin-top: 0px;
	}
	/*.form-content {
	    max-width: 340px;
	}*/
    .find-student {
        width: 80%;
    }
    .mates-list-wrapper {
        margin: 0 auto;
        max-width: 260px;
        width: 100%;
    }
    .mate-list-right {
        text-align: center;
        width: 100%;
    }
    .profile-link-wrap {
        text-align: center;
    }
    .mate-list-left {
        padding-left: 15px;
        width: 100%;
        text-align: center;
    }
    .social-media-class-mate .fa-facebook-square, .social-media-class-mate .fa-linkedin-square, .social-media-class-mate .fa-twitter-square {
        font-size: 20px;
    }
 }
@media screen and (max-width: 390px) {
    .search-banner h1 {
        font-size: 26px;
    }
}
@media screen and (max-width: 360px) {
	.dropdown-menu {
	    left: 49%;
	    margin-top: 0px;
	}
}
@media screen and (max-width: 350px) {
	.academic-details ul li:nth-child(2) {
		float: left;
		width: 100%;
		display: block;
	}
	/*.form-content {
	    max-width: 280px;
	}*/
}
@media screen and (max-width: 330px) {
    .find-student {
        width: 75%;
    }
    .keep-centralize {
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
    }
    .modal-biz-desscribe {
        padding-left: 0px;
        margin-top: 10px;
        float: left;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
	.dropdown-menu {
	    left: 42%;
	    margin-top: 0px;
	}
	/*.form-content {
	    max-width: 260px;
	}*/
}