﻿@model OpenPro.Models.ProfileInfo
@{
    ViewBag.Title = "Basic Info";
}

<!-- content session starts here -->
<link href="~/css/foundation-datepicker.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .input-group-addon {
        position: relative;
        top: -33px;
        width: 90%;
        left: 707px;
        border: 0px;
        height: 32px;
    }

    .form-control {
        padding: 10px;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="~/Profile/Dashboard/BasicInfo" aria-controls="home">Basic Info</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Academics" aria-controls="profile">academic background</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Biography" aria-controls="messages" role="tab">biography</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Business" aria-controls="settings" role="tab">business</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Basic-Info">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">Basic Info</h3>
                                <form method="post">
                                    <!-- open form here -->
                                    <div class="form-group">
                                            <input type="hidden" name="profilepicture" id="profilepicture" />
                                            <label>upload profile picture</label>
                                            <input type="file" name="propic" id="propic" onchange="readURL(this);" accept="image/gif, image/jpeg, image/png" />
                                            <p class="help-block">passport size should 200 by 200 pixel</p>
                                        </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input name="lastname" type="text" class="form-control" value="@Model.BasicInfo.LastName"
                                               placeholder="LastName FirstName MiddleName">
                                    </div>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input name="firstname" type="text" class="form-control" value="@Model.BasicInfo.FirstName"
                                               placeholder="LastName FirstName MiddleName">
                                    </div>
                                    <div class="form-group">
                                        <label>Other Names</label>
                                        <input name="middlename" type="text" class="form-control" value="@Model.BasicInfo.MiddleName"
                                               placeholder="MiddleName">
                                    </div>

                                    <div class="form-group">
                                        <label>Designation</label>
                                        <input name="designation" type="text" class="form-control" value="@Model.BasicInfo.Designation">
                                    </div>
                                    <div class="form-group">
                                        <label>Facebook link</label>
                                        <input name="facebook" type="text" class="form-control" value="@Model.BasicInfo.Facebook" />
                                    </div>
                                    <div class="form-group">
                                        <label>linkedin link</label>
                                        <input name="linkedin" type="text" class="form-control" value="@Model.BasicInfo.LinkedIn" />
                                    </div>
                                    <div class="form-group">
                                        <label>twitter link</label>
                                        <input name="twitter" type="text" class="form-control" value="@Model.BasicInfo.Twitter" />
                                    </div>
                                    <div class="form-group">
                                        <label>phone no</label>
                                        <input name="phone" type="text" class="form-control" value="@Model.BasicInfo.Phone" />
                                    </div>
                                    <div class="form-group">
                                        <label>email</label>
                                        <input name="email" type="email" class="form-control" value="@Model.BasicInfo.Email" />
                                    </div>
                                                                                                          
                                    <div class="form-group">
                                        <label>date of birth</label>
                                        <input type="text" placeholder="mm/dd/yyyy" class="form-control" id="demo-1" name="dateofbirth" value="@Model.BasicInfo.DateOfBirth">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>wedding Anniversary</label>
                                        <input type="text" placeholder="mm/dd/yyyy" class="form-control" id="demo-2" name="WeddingAnniversary" value="@Model.BasicInfo.WeddingAnniversary">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @*<div class="form-group">*@
                                    <br />
                                    <input type="submit" value="Save & Continue" class="btn-sm btn-info" style="border:0px; font-size: 14px;" onclick="getImage()" />
                                    @*</div>*@
                                </form>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end content here -->
<!-- content session ends here -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>

<!-- script for date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
@*<script src="~/js/bootstrap-datetimepicker.min.js"></script>*@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#falseinput').attr('src', e.target.result);
                $('#profilepicture').val(e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<!-- script to show active state -->
<script type="text/javascript">
    $('.navbar li').click(function (e) {
        $('.navbar li.active').removeClass('active');
        var $this = $(this);
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }

    });

</script>
<script>
    $(document).ready(function () {
        debugger;
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('form').length > 0 ? $('form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

<script>
    $(document).ready(function () {

        // process the form
        $('basicinfo').submit(function (event) {

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            debugger;
            var formData = {
                'name': $('input[name=name]').val(),
                'email': $('input[name=email]').val(),
                'superheroAlias': $('input[name=superheroAlias]').val()
            };

            // process the form
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '~/Profile/Dashboard/BasicInfo', // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
            })
                // using the done promise callback
                .done(function (data) {

                    // log data to the console so we can see
                    console.log(data);

                    // here we will handle errors and validation messages
                });

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });

    });

</script>

<!-- new script for date and time picker -->
<script src="~/js/foundation-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
    $('#demo-1').fdatepicker();
    $('#demo-2').fdatepicker({
        format: 'mm-dd-yyyy',
        pickTime: false
    });
</script>

<!-- css styles for css the new date and time picker-->
