﻿@model OpenPro.Models.BasicInfo
@{
    ViewBag.Title = "Biography";
}

<style type="text/css">
    .form-control {
        padding: 10px;
    }

    input[type="submit"].btn-sm {
        border: 0px;
        font-size: 14px;
        margin-top: 30px;
    }

    footer {
        margin-top: 65px;
    }
</style>

<!-- content session starts here -->
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="~/Profile/Dashboard/BasicInfo" aria-controls="home">Basic Info</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Academics" aria-controls="profile">academic background</a></li>
                            <li role="presentation" class="active"><a href="~/Profile/Dashboard/Biography" aria-controls="messages" role="tab">biography</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Business" aria-controls="settings" role="tab">business</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="tab-content">

                        <div role="tabpanel" id="profile">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">Biography</h3>
                                <form method="post">

                                    <div class="form-group">
                                        <textarea name="biography" class="form-control" rows="15">@Model.Biography</textarea>
                                    </div>

                                    <div>
                                        <input type="submit" value="Save & Continue" class="btn-sm btn-info"/>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end content here -->
<!-- content session ends here -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>

<!-- script for date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker()({
            viewMode: 'years'
        });
    });
</script>

<!-- script to show active state -->
<script type="text/javascript">
    $('.navbar li').click(function (e) {
        $('.navbar li.active').removeClass('active');
        var $this = $(this);
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }

    });
</script>

<script>
    $(document).ready(function () {

        // process the form
        $('basicinfo').submit(function (event) {

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            debugger;
            var formData = {
                'name': $('input[name=name]').val(),
                'email': $('input[name=email]').val(),
                'superheroAlias': $('input[name=superheroAlias]').val()
            };

            // process the form
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '~/Profile/Dashboard/BasicInfo', // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
            })
                // using the done promise callback
                .done(function (data) {

                    // log data to the console so we can see
                    console.log(data);

                    // here we will handle errors and validation messages
                });

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });

    });

</script>
