﻿@model OpenPro.Models.ProfileInfo
@{
    ViewBag.Title = "Edit";
}

<!-- content session starts here -->
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="~/Profile/Dashboard/BasicInfo" aria-controls="home" >Basic Info</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Academics" aria-controls="profile" >academic background</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Biography" aria-controls="messages" role="tab" >biography</a></li>
                            <li role="presentation"><a href="~/Profile/Dashboard/Business" aria-controls="settings" role="tab" >business</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Basic-Info">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">Basic Info</h3>
                                <form id="basicinfo">
                                    <!-- open form here -->
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="username" type="text" class="form-control" value="@Model.BasicInfo.LastName @Model.BasicInfo.FirstName @Model.BasicInfo.MiddleName"
                                               placeholder="LastName FirstName MiddleName">

                                    </div>
                                    @*<div class="form-group">
                                            <label>Company Name</label>
                                            <input type="text" class="form-control" value="@Model.BasicInfo.">
                                        </div>*@
                                    <div class="form-group">
                                        <label>Designation</label>
                                        <input id="designation" type="text" class="form-control" vale="@Model.BasicInfo.Designation">
                                    </div>
                                    <div class="form-group">
                                        <label>Facebook link</label>
                                        <input id="facebook" type="text" class="form-control" value="@Model.BasicInfo.Facebook">
                                    </div>
                                    <div class="form-group">
                                        <label>linkedin link</label>
                                        <input id="linkedin" type="text" class="form-control" value="@Model.BasicInfo.LinkedIn">
                                    </div>
                                    <div class="form-group">
                                        <label>twitter link</label>
                                        <input id="twitter" type="text" class="form-control" value="@Model.BasicInfo.Twitter">
                                    </div>
                                    <div class="form-group">
                                        <label>phone no</label>
                                        <input id="phone" type="text" class="form-control" value="@Model.BasicInfo.Phone">
                                    </div>
                                    <div class="form-group">
                                        <label>email</label>
                                        <input id="email" type="email" class="form-control" value="@Model.BasicInfo.Email">
                                    </div>
                                    <div class="form-group">
                                        <label>upload passport</label>
                                        <input type="file" id="passport">
                                        <p class="help-block">passport size should 200 by 200 pixel</p>
                                    </div>
                                    <label>date of birth</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="dob" type='text' class="form-control" value="@Model.BasicInfo.DateOfBirth" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <label>wedding Anniversary</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input id="wedanni" type='text' class="form-control" value="@Model.BasicInfo.WeddingAnniversary" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>                                                                     
                                </form>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="academic">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">academic background</h3>
                                @{
                                    for (int i = 0; i < Model.Academics.Count; i++)
                                    {
                                        <div>
                                            <div class="form-group">
                                                <label>name of institute</label>
                                                <input id="nameofinstitute_@i" type="text" class="form-control" value="@Model.Academics[i].Institute">
                                            </div>
                                            <div class="form-group">
                                                <label>degree obtain</label>
                                                <input id="degree_@i" type="text" class="form-control" value="@Model.Academics[i].Degree">
                                            </div>
                                            <div class="form-group">
                                                <label>from</label>
                                                <div class='input-group date' id='datetimepicker3'>
                                                    <input id="from_@i" type='text' class="form-control" value="@Model.Academics[i].From" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>to</label>
                                                <div class='input-group date' id='datetimepicker4'>
                                                    <input id="to_@i" type='text' class="form-control" @Model.Academics[i].To />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="form-group">
                                    <a href="#profile" aria-controls="biography" role="tab">academic background</a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">Biography</h3>
                                <div>
                                    <div class="form-group">
                                        <textarea id="biography" class="form-control" rows="15">@Model.BasicInfo.Biography</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="business">
                            <div class="col-sm-8 create-student-cat">
                                <h3 style="margin-top: 10px">business information</h3>
                                @{
                                    <input type="button" value="Add Business" onclick=""/>

                                    for (int i = 0; i < Model.Businesses.Count; i++)
                                    {
                                        <div>
                                            <div class="form-group">
                                                <label>business Name</label>
                                                <input id="biz_@i" type="text" class="form-control" value="@Model.Businesses[i].BusinessName"/>
                                            </div>
                                            <div class="form-group">
                                                <label>business type</label>
                                                <input id="biztype_@i" type="text" class="form-control" value="@Model.Businesses[i].BusinessType"/>
                                            </div>
                                            <div class="form-group">
                                                <label>business description</label>
                                                <textarea id="bizdescription_@i" class="form-control" rows="3" >@Model.Businesses[i].BusinessDescription</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>website</label>
                                                <input id="website_@i" type="text" class="form-control" value="@Model.Businesses[i].Website"/>
                                            </div>
                                            <div class="form-group">
                                                <label>email</label>
                                                <input id="email_@i" type="text" class="form-control" value="@Model.Businesses[i].Email"/>
                                            </div>
                                            <div class="form-group">
                                                <label>contact</label>
                                                <input id="contact_@i" type="text" class="form-control" value="@Model.Businesses[i].Phone"/>
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end content here -->
<!-- content session ends here -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>

<!-- script for date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker()({
            viewMode: 'years'
        });
    });
</script>

<!-- script to show active state -->
<script type="text/javascript">
    $('.navbar li').click(function (e) {
        $('.navbar li.active').removeClass('active');
        var $this = $(this);
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }

    });
</script>

<script>
    $(document).ready(function () {

        // process the form
        $('.basicinfo').submit(function (event) {

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            debugger;
            var formData = {
                'name': $('input[name=name]').val(),
                'email': $('input[name=email]').val(),
                'superheroAlias': $('input[name=superheroAlias]').val()
            };

            // process the form
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '~/Profile/Dashboard/BasicInfo', // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
            })
                // using the done promise callback
                .done(function (data) {

                    // log data to the console so we can see
                    console.log(data);

                    // here we will handle errors and validation messages
                });

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });

    });

</script>
