﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMBA24</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css">
    <!-- main css style -->
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css">

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-16x16.png">

    <style type="text/css">
        a.navbar-brand {
            height: unset;
        }

        ul.nav {
            margin-top: 15px;
        }

        ul.navbar-nav {
            margin-top: 15px;
        }
        .navbar-nav > li > a {
            font-size: 15px;
        }
        .dropdown-menu {
            margin: 39px 0px 0px
        }
    </style>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <!-- nav section starts here -->
                    <div class="col-sm-12 col-md-9 col-lg-10 header-left">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="~/Home/Index"><img src="~/images/logo-mba.png" alt="logo" /></a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav pull-right">
                                        <li><a href="~/Home/Index">home</a></li>
                                        <li><a href="~/Home/Blog">blog</a></li>
                                        <li><a href="~/Home/ViewClassMate">View Class Mate</a></li>
                                        <li class=""><a href="~/Profile/Dashboard">profile <span class="sr-only"></span></a></li>
                                        @*<li><a href="create_prog.html">create programmes</a></li>
                                            <li><a href="create_classes.html">create classes/cohorts</a></li>
                                            <li><a href="create-student.html">create student</a></li>*@
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div><!-- end header-left -->
                    <div class="col-sm-12 col-md-3 col-lg-2 header-right">
                        <div class="profile-edit text-right">
                            @{
                                if (Session["image"] == null)
                                {
                                    <img src="~/images/male.jpg" class="img-responsive img-circle" width="200" height="200" alt="user=pix" id="lpropic1"/>
                                }
                                else
                                {
                                    <img src="@Session["image"]" class="img-responsive img-circle" width="200" height="200" alt="user=pix" id="lporpic2"/>
                                }
                            }
                            <span>
                                @{ 
                                    if(Session["name"] != null)
                                    {
                                        Session["name"].ToString();
                                    }
                                }
                                <button id="dLabel" type="button" data-text="TEST DATA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="~/Profile/Dashboard/BasicInfo"><span><i class="fa fa-edit"></i></span>edit profile</a></li>
                                    <li><a href="~/Account/Logout"><span><i class="fa fa-power-off"></i></span>logout</a></li>
                                </ul>
                            </span>
                        </div><!-- end profile-edit here -->
                    </div><!-- end header-right -->
                </div><!-- end row div here -->
                <!-- nav section ends here -->
            </div><!-- end container here -->
        </div><!-- end container fluid here -->
    </header><!-- end header section -->
    <div class="container-fluid body-content" style ="padding-right: 0px;
    padding-left: 0px;">
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Copyright &copy; EMBA 2019. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- script for date picker -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>*@

    <!-- script to show active state -->
    <script type="text/javascript">

        
        $('.navbar li').click(function (e) {
            $('.navbar li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }

        });
    </script>

   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
