﻿@model OpenPro.Models.Login

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="login-body">
        <div class="login-form-wrapper">
            <div class="form-content">
                <div class="form-content1">
                    <div class="form-content1-details">
                        <h4 class="text-center">EMBA24 Community</h4>
                        <form class="login-form">
                            <h5 class="text-danger">@ViewBag.Error</h5>
                            <div class="form-group">
                                <!-- <label>Email</label> -->
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <!-- <label>Password</label> -->
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="checking">
                                <div class="col-sm-6 check-left">
                                    @Html.EditorFor(model => model.RememberMe)
                                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                    <span class="remember">Remember me</span>
                                </div>
                                <div class="col-sm-6 check-right text-right">
                                    <p><span><i class="fa fa-question-circle-o"></i></span><a href="#">forgot password</a></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="login">
                            </div>
                        </form>
                    </div>
                </div><!-- end form content1 -->
                <div class="form-content2">
                    <div class="form-content2-details">
                        <img src="~/images/lbs-logo.png" alt="logo" style="margin-bottom: 20px;">
                        <p class="company-name">EMBA24 Community</p>
                        <p class="slogan">Connect <span><i class="fa fa-circle"></i></span> Share <span><i class="fa fa-circle"></i></span> Make Profit</p>
                    </div>
                </div><!-- end form-content2 -->
            </div>
        </div>
    </div>

}
  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
