﻿@model OpenPro.Models.AcademicInfo
<div class="academic-info-content">
    <div class="academic-details">
        <ul class="list-unstyled">
            <li>@Model.Institute</li>
            <li>@Model.From - @Model.To</li>
        </ul>
        <p>@Model.Degree</p>
    </div>
</div>
