﻿@model OpenPro.Models.BusinessInfo

<div class="business1">
    <p class="basic">business Name:</p>
    <div class="business-info">
        <p>@Model.BusinessName</p>
    </div>
    <p class="basic">business type:</p>
    <div class="business-info">
        <p>@Model.BusinessType</p>
    </div>
    <p class="basic">business description:</p>
    <div class="business-info">
        <p>@Model.BusinessDescription</p>
    </div>
    <p class="basic">website:</p>
    <div class="business-info">
        <p>@Model.Website</p>
    </div>
    <p class="basic">email:</p>
    <div class="business-info">
        <p>@Model.Email</p>
    </div>
    <p class="basic">contact:</p>
    <div class="business-info">
        <p>@Model.Phone</p>
    </div>
</div>