﻿@model OpenPro.Models.BasicInfo

<div class=" all-class-mate-list ">
    <div class="row list-class-mates">
        <div class="col-sm-12 mates-list-rows">
            <div class="mates-list-wrapper">
                <div class="col-sm-8 mates-brief-info pull-left">
                    <div class="col-sm-2 pull-left mate-list-left">
                        @{
                            if (string.IsNullOrWhiteSpace(Model.ProfilePicture))
                            {
                                <img src="~/images/male.jpg" alt="class mate pic" width="128px" />
                            }
                            else
                            {
                                <img src="@Model.ProfilePicture" alt="class mate pic" width="128px" />
                            }
                        }
                    </div>
                    <div class="col-sm-10 pull-left mate-list-right">
                        <ul class="list-unstyled">
                            <li>@Model.LastName @Model.FirstName @Model.MiddleName</li>
                            <li>@Model.Designation</li>
                            <div class="social-media-class-mate">
                                <span><a href="http://@Model.Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></span>
                                <span><a href="http://@Model.LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a></span>
                                <span><a href="http://@Model.Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a></span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 class-mate-profile-link">
                    <div class="profile-link-wrap">
                        <a href="~/Home/ViewClassMate?id=@Model.ID">view profile</a>
                    </div>
                </div>
            </div><!-- end mates list wrapper div here -->
        </div><!-- end mates list rows here -->
    </div><!-- end list class mates -->
   <p></p>
</div>
<!--end all class mate list here -->
