﻿
@{
    ViewBag.Title = "Blog";
}
<style type="text/css">
    button {
        outline: 0px !important;
    }

        button:focus {
            outline: 0px !important;
        }
    .profile-edit {
        padding-top: 23px;
    }
</style>
<div class="container-fluid blog-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 blog-content-left">
                <h3>5 Secrets of successful entrepreneur</h3>
                <div class="blog-img-wrapper">
                    <img src="~/images/blog-post-pics2.jpg" alt="blog-pics" id="large-blog-pic">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper sed dolor id finibus. Vestibulum tincidunt tellus non velit malesuada placerat. Integer mollis est risus, nec blandit ex lacinia a. Cras ullamcorper tortor non felis volutpat scelerisque. Maecenas vitae elit viverra, sagittis ante eget, egestas dolor. In quis tempor elit, laoreet mollis mauris. Vestibulum nec dapibus tortor. Etiam gravida sollicitudin ipsum, id sodales ipsum tincidunt quis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper sed dolor id finibus. Vestibulum tincidunt tellus non velit malesuada placerat. Integer mollis est risus, nec blandit ex lacinia a. Cras ullamcorper tortor non felis volutpat scelerisque. Maecenas vitae elit viverra, sagittis ante eget, egestas dolor. In quis tempor elit, laoreet mollis mauris. Vestibulum nec dapibus tortor. Etiam gravida sollicitudin ipsum, id sodales ipsum tincidunt quis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper sed dolor id finibus. Vestibulum tincidunt tellus non velit malesuada placerat. Integer mollis est risus, nec blandit ex lacinia a. Cras ullamcorper tortor non felis volutpat scelerisque. Maecenas vitae elit viverra, sagittis ante eget, egestas dolor. In quis tempor elit, laoreet mollis mauris. Vestibulum nec dapibus tortor. Etiam gravida sollicitudin ipsum, id sodales ipsum tincidunt quis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper sed dolor id finibus. Vestibulum tincidunt tellus non velit malesuada placerat. Integer mollis est risus, nec blandit ex lacinia a. Cras ullamcorper tortor non felis volutpat scelerisque. Maecenas vitae elit viverra, sagittis ante eget, egestas dolor. In quis tempor elit, laoreet mollis mauris. Vestibulum nec dapibus tortor. Etiam gravida sollicitudin ipsum, id sodales ipsum tincidunt quis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper sed dolor id finibus. Vestibulum tincidunt tellus non velit malesuada placerat. Integer mollis est risus, nec blandit ex lacinia a. Cras ullamcorper tortor non felis volutpat scelerisque. Maecenas vitae elit viverra, sagittis ante eget, egestas dolor. In quis tempor elit, laoreet mollis mauris. Vestibulum nec dapibus tortor. Etiam gravida sollicitudin ipsum, id sodales ipsum tincidunt quis.</p>
            </div>
            <div class="col-sm-2 content-right">
                <h3>Latest Post</h3>
                <ul>
                    <li><a href="#">sit amet fermentum scelerisque.</a></li>
                    <li><a href="#">Vestibulum justo lectus, volutpat nec fermentum.</a></li>
                    <li><a href="#">consectetur adipiscing elit.</a></li>
                    <li><a href="#">Quisque semper sed dolor id finibus.</a></li>
                    <li><a href="#">In quis tempor elit, laoreet mollis mauris</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>