﻿@model List<OpenPro.Models.ProfileInfo>
@{
    ViewBag.Title = "Home Page";

}
<style contextmenu="/css">
    button {
        outline: 0px !important;
    }

        button:focus {
            outline: 0px !important;
        }

    .profile-edit {
        padding-top: 23px;
    }
</style>
<div class="banner">
    <div class="row banner-content">
        <div class="col-sm-12">
            <h1>Hire the best people to get the job done.</h1>
        </div>
        <form class="form-inline">
            <div class="form-group banner-form col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-2">
                <div class="col-sm-10 col-md-10 col-lg-8 form-text">
                    <input type="text" class="form-control" placeholder="Search Here">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 form-access">
                    <input type="submit" class="form-control" value="Search">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end static banner -->
<!-- content div starts here -->
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row feature-service">
                <h3>Feature Services</h3>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/realestate.jpg" alt="">
                        <p>Real Estate</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/it.jpg" alt="">
                        <p>IT Consulting</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/gas.jpg" alt="">
                        <p>Oil and Gas</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/Furniture.jpg" alt="">
                        <p>Furniture</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/mobile.jpg" alt="">
                        <p>Auto Mobile</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/travel.jpg" alt="">
                        <p>Travel and Tour</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/it.jpg" alt="">
                        <p>IT Consulting</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 feature-service-category">
                    <div class="col-sm-12 feature-item">
                        <img src="~/images/realestate.jpg" alt="">
                        <p>Real Estate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end content div here -->