﻿@model OpenPro.Models.ProfileInfo

@{
    ViewBag.Title = "Profile";
}

<style ="text/css">
    span.passport-capture {
        background: #d2cfcf;
        border-radius: 100%;
        position: absolute;
        top: 157px;
        left: 147px;
        width: 36px;
        height: 36px;
        text-align: center;
        padding-top: 9px;
        cursor: pointer;
        border: 1px solid #fff;
    }

    button {
        outline: 0px !important;
    }

        button:focus {
            outline: 0px !important;
        }

    footer {
        margin-top: 63px;
    }

    .upload-passport-edit {
        display: inline-flex;
    }

    .profile-edit {
        padding-top: 23px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="content-left">
                        <div class="content-left-details">
                            <div class="pix-hoilder">
                                <div class="pix-wrapper">
                                    @{
                                        if (string.IsNullOrWhiteSpace(Model.BasicInfo.ProfilePicture))
                                        {
                                            <img src="~/images/male.jpg" class="img-responsive img-circle" width="200" height="200" alt="user=pix" name="propic" id="propic1" />
                                        }
                                        else
                                        {
                                            <img src="@Model.BasicInfo.ProfilePicture" class="img-responsive img-circle" width="200" height="200" alt="user=pix" name="propic" id="propic2" />
                                        }
                                    }

                                    @*<div class="upload-passport-edit">
                                        <input type="hidden" name="profilepicture" id="profilepicture" />
                                        <span class="passport-capture"><i class="fa fa-camera"></i></span>
                                        <input type="file" name="propic" id="propic" onchange="readURL(this);" accept="image/gif, image/jpeg, image/png"
                                               class="capture" style="display:none;" />
                                    </div>*@
                                </div>
                            </div>
                            <div class="content-left-details-content">
                                <div class="info">
                                    <p>@Model.BasicInfo.LastName @Model.BasicInfo.FirstName @Model.BasicInfo.MiddleName</p>
                                    <p>@Model.BasicInfo.Designation</p>
                                </div>
                                <div class="social info">
                                    <a href="http://@Model.BasicInfo.Facebook" target="_blank"><i class="fa fa-lg fa-facebook-square"></i></a>
                                    <a href="http://@Model.BasicInfo.LinkedIn" target="_blank"><i class="fa fa-lg fa-linkedin-square"></i></a>
                                    <a href="http://@Model.BasicInfo.Twitter" target="_blank"><i class="fa fa-lg fa-twitter-square"></i></a>
                                </div>
                                @*<div class="contact">
                                    <a href="~/Profile/Dashboard/BasicInfo
                                       " role="button" class="btn-sm btn-info"><i class="fa fa-edit"></i>Edit Profile</a>
                                </div>*@
                            </div><!-- end content-left-details-content here -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="content-right">
                        <div class="desktop-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist" style="border: 0px;">
                                <li role="presentation" class="active"><a href="#Basic-Info" aria-controls="home" role="tab" data-toggle="tab">Basic Info</a></li>
                                <li role="presentation"><a href="#academic" aria-controls="profile" role="tab" data-toggle="tab">academic background</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="messages" role="tab" data-toggle="tab">biography</a></li>
                                <li role="presentation"><a href="#business" aria-controls="settings" role="tab" data-toggle="tab">business</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active basic-content" id="Basic-Info">
                                    <p class="basic">phone no</p>
                                    <div class="basic-info-details">
                                        <span class="edge"><i class="fa fa-phone"></i></span>
                                        <span class="edge-info">@Model.BasicInfo.Phone</span>
                                    </div>
                                    <p class="basic">email</p>
                                    <div class="basic-info-details">
                                        <span class="edge"><i class="fa fa-envelope"></i></span>
                                        <span class="edge-info" style="text-transform: lowercase;">@Model.BasicInfo.Email</span>
                                    </div>
                                    <p class="basic">date of birth</p>
                                    <div class="basic-info-details">
                                        <span class="edge"><i class="fa fa-calendar"></i></span>
                                        <span class="edge-info">@Model.BasicInfo.DateOfBirth</span>
                                    </div>
                                    <p class="basic">wedding anniversary</p>
                                    <div class="basic-info-details">
                                        <span class="edge"><i class="fa fa-calendar"></i></span>
                                        <span class="edge-info">@Model.BasicInfo.WeddingAnniversary</span>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane academic-info" id="academic">
                                    @{
                                        foreach (var academy in Model.Academics)
                                        {
                                            @Html.Partial("_academics", academy)
                                        }
                                    }

                                </div>
                                <div role="tabpanel" class="tab-pane profile-details" id="profile">
                                    <div class="profile-content">
                                        @Model.BasicInfo.Biography
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="business">
                                    <div class="business-content">

                                        @{
                                            foreach (var biz in Model.Businesses)
                                            {
                                                @Html.Partial("_business", biz)

                                                @*<div class="line-divider"></div>*@
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div><!-- end desktop-tab div here -->
                        <!-- accordion for tabs items on mobile -->
                        <div class="accordion">
                            <div class="row">
                                <div class="panel-group i-accordion">
                                    <div class="panel panel-success">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".i-accordion" href="#basic-acc">
                                            <h4 class="panel-title">basic info<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="basic-acc" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="basic-content">
                                                    <p class="basic">phone no</p>
                                                    <div class="basic-info-details">
                                                        <span class="edge"><i class="fa fa-phone"></i></span>
                                                        <span class="edge-info">@Model.BasicInfo.Phone</span>
                                                    </div>
                                                    <p class="basic">email</p>
                                                    <div class="basic-info-details">
                                                        <span class="edge"><i class="fa fa-envelope"></i></span>
                                                        <span class="edge-info">@Model.BasicInfo.Email</span>
                                                    </div>
                                                    <p class="basic">date of birth</p>
                                                    <div class="basic-info-details">
                                                        <span class="edge"><i class="fa fa-calendar"></i></span>
                                                        <span class="edge-info">@Model.BasicInfo.DateOfBirth</span>
                                                    </div>
                                                    <p class="basic">wedding anniversary</p>
                                                    <div class="basic-info-details">
                                                        <span class="edge"><i class="fa fa-calendar"></i></span>
                                                        <span class="edge-info">@Model.BasicInfo.WeddingAnniversary</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-success">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".i-accordion" href="#academic-acc">
                                            <h4 class="panel-title">academic background<i class="fa fa-chevron-down pull-right"></i></h4>
                                        </div>
                                        <div id="academic-acc" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="academic-content-holder">

                                                    @{
                                                        foreach (var academy in Model.Academics)
                                                        {
                                                            @Html.Partial("_academics", academy)
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-success">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".i-accordion" href="#profile-acc">
                                            <h4 class="panel-title">biography<i class="fa fa-chevron-down pull-right"></i></h4>
                                        </div>
                                        <div id="profile-acc" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="profile-content">
                                                    @Model.BasicInfo.Biography
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-success">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".i-accordion" href="#business-acc">
                                            <h4 class="panel-title">business<i class="fa fa-chevron-down pull-right"></i></h4>
                                        </div>
                                        <div id="business-acc" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="business-content">
                                                    @{
                                                        foreach (var biz in Model.Businesses)
                                                        {
                                                            @Html.Partial("_business", biz)

                                                            @*<div class="line-divider"></div>*@
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- end accordion div here -->
                        <!-- end accordion for tabs items on mobile -->
                    </div><!-- content-right ends here -->
                </div>
            </div>
        </div>
    </div>
</div><!-- end content div here -->
<!-- script for date picker -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>

<!-- script for date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>


<script type="text/javascript">
        $(function () {
            $('#datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4').datetimepicker()({
                viewMode: 'years'
            });
        });
</script>

<!-- script to show active state -->
<script type="text/javascript">
        $('.navbar li').click(function (e) {
            $('.navbar li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
        });
</script>

<!-- file button with icon script -->
<script type="text/javascript">
        //$("i").click(function () {
        //    $("input[type='file']").trigger('click');
        //});

        //$('input[type="file"]').on('change', function () {
        //    var val = $(this).val();
        //    $(this).siblings('span').text(val);
        //})
</script>
<script type="text/javascript">
        function readURL(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    saveImage(e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function saveImage(image) {
            var http = new XMLHttpRequest();
            var url = '/Dashboard/SavePic';
            var params = 'profilepicture=' + image;
            http.open('POST', url, true);

            //Send the proper header information along with the request
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function () {//Call a function when the state changes.
                if (http.readyState == 4 && http.status == 200) {
                    debugger;
                    $('#propic1').attr('src', image);
                    $('#propic2').attr('src', image);
                    $('#lpropic1').attr('src', image);
                    $('#lpropic2').attr('src', image);
                }
            }
            http.send(params);
        }
</script>


