﻿@{
    ViewBag.Title = "Search Result";
}
<style contextmenu="/css">
    .banner {
        height: 250px;
    }
</style>
<div class="banner">
    <div class="row banner-content search-banner">
        <div class="col-sm-12">
            <h1>Hire the best people to get the job done.</h1>
        </div>
        <form class="form-inline">
            <div class="form-group banner-form col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-2">
                <div class="col-sm-10 col-md-10 col-lg-8 form-text">
                    <input type="text" class="form-control" placeholder="Search Here">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 form-access">
                    <input type="submit" class="form-control" value="Search">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row search-result-hints">
            <div class="col-sm-10 col-sm-offset-1">
                <h4>10 results found for your search</h4>
            </div>
        </div>
        <div class="row search-result-list">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a type="button" data-toggle="modal" data-target="#myModal">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
                <div class="col-sm-12 search-result-rows">
                    <div class="col-sm-8 search-result-rows-left pull-left">
                        <div class="pull-left col-sm-3 search-item-pic">
                            <img src="~/images/realestate.jpg" alt="reaslestate" width="200" height="auto" />
                        </div>
                        <div class="pull-left col-sm-7 search-item-brief">
                            <p>Property Pro</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 search-result-rows-right pull-right">
                        <div class="search-result-btn-wrap">
                            <a href="#">contact details</a>
                        </div>
                    </div>
                </div><!--end search-result-rows-->
            </div>
        </div><!--end search result list here -->
        <!-- our modal starts here -->
        <!-- Button trigger modal -->
        @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>*@

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="keep-centralize">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Company Details</h4>
                        </div>
                        <div class="modal-body searchresult-info">
                            <p class="bizname">Property Pro</p>
                            <div class="describe-info">
                                <div class="col-sm-3 img-modal pull-left">
                                    <img src="~/images/user-pix.jpg" width="100" height="auto" />
                                </div>
                                <div class="col-sm-9 modal-biz-desscribe pull-left">
                                    <p>Akinuwa Akintunde</p>
                                    <p>CEO Property Pro</p>
                                    <a href="#">view profile</a>
                                </div>
                            </div>
                            <div class="brief-info2">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum sagittis risus eget mattis. Nulla et convallis urna, sed sollicitudin quam. Quisque placerat feugiat ipsum ut finibus.
                                </p>
                                <p><span><i class="fa fa-map-marker"></i></span> Ikeja, Lagos</p>
                                <p><span><i class="fa fa-building-o"></i></span> 24 Opebi Road, Clay Bus Stop, Ikeja</p>
                                <p><span><i class="fa fa-phone"></i></span> 09045321178</p>
                                <p><span><i class="fa fa-envelope"></i></span> support@propertypro.com.ng</p>
                                <p><span><i class="fa fa-globe"></i></span> <a href="#">www.propertypro.com.ng</a></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container div here -->
</div><!--end container-fluid here -->