﻿@model List<OpenPro.Models.ProfileInfo>

@{
    ViewBag.Title = "View Class Mate";
}

<div class="container">
    <div class="row heading-subject ">
        <div class="col-sm-12">
            <form method="post" action="~/Home/ViewClassMate" class="form-inline">
                <div class="form-group search-mates">
                    <div class="col-xs-8 col-sm-4 find-student">
                        <input type="text" name="searchTxt" class="form-control" placeholder="Search for class mates">
                    </div>
                    <button type="submit" class="btn btn-default">search</button>
                </div>
            </form>
        </div>
    </div><!-- end heading-subject div here -->
    
        @{
            foreach (var profile in Model)
            {

                @Html.Partial("_miniProfile", profile.BasicInfo)


            }
        }
    
</div>